p,
ul {
    font-size: 145% !important;
}

h1 {
    margin: 0 !important;
}

section {
    overflow: hidden;
}

#about {
    position: relative;
}

#welcome-screen {
    position: relative;
}

.welcome-screen__text {
    position: absolute;
    top: 40%;
    left: 10%;
}

.about__text {
    position: absolute;
    top: 0;
    right: 0;
    height: 99%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px 20px;
}

.card {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    transition: all .3s;
}

.card:hover {
    -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12),
        0 5px 5px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12),
        0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.card__body {
    padding: 15px 10px;
}

#menu {
    background: linear-gradient(90deg, #ef7745, #ff8550);
    margin-top: -7px;
}

#menu .row {
    overflow: hidden;
}

#menu h2 {
    margin-top: 50%;
}

.menu__item::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    opacity: 0.7;

    transform: scaleX(0) translateY(-10px);
    transition: all .3s;
}

.menu__item:hover::after {
    transform: scaleX(1) translateY(0px);
}

.parallax-icons {
    font-size: 40px;
    color: bisque;
    opacity: 0.2;
}

.parallax-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    z-index: -10;
}

.parallax-container i {
    padding: 40px;
}

#shares {
    padding: 15px 0;
    margin-top: -7px;
    background-color: rgb(255, 219, 88);
}

.shares__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.shares__menu .card {
    width: auto !important;
    margin: 10px;
}

#shares .flip-card-front h2::after {
    content: '';
    display: block;
    width: 0%;
    height: 1px;
    background-color: black;
    opacity: 0.2;

    /* transform: scaleX(0) translateY(-10px); */
    transition: all .3s;
}

#shares .flip-card-front:hover h2::after {
    width: 100%;
}

/* Flip cards */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
}

.flip-card-front:hover,
.flip-card-back:hover {
    -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12),
        0 5px 5px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12),
        0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;

    transition: all .5s;
}

/* Style the back side */
.flip-card-back {
    transform: rotateY(180deg);
}

.flip-card-back img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#schedule {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#schedule i,
#map i {
    font-size: 85%;
}

#map {
    background-color: rgb(255, 219, 88);
    background-image: url(../images/building.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.map__text {
    padding-left: 40px;
    background-color: rgba(255, 255, 255, 0.75);
}

footer {
    background-color: #424242;
    color: #fff;
}

footer .row {
    width: 100%;
}

.footer__link {
    font-size: 20px;
    color: #ffdb58;
    margin: 0 10px;
}

.footer__link:hover {
    color: #ff8550;
}