*{
  padding: 0;
  margin: 0;
}

nav .container {
  width: 85%;
}
nav h5 {
  margin: 0;
  display: inline;
}
.icon-color {
  color:#1bbc9b;
}
.container {
  width: 100%;
}
.row img {
  max-width: 179px;
  max-height: 179px;
}
.footer-color {
  background-color:#2d3e50;
}