.but-txt
{
	font-family: ubuntu-n5, sans-serif;
}

.otz-txt
{
	font-family: ubuntu-i3, sans-serif;
}

.m_but-txt,.m_tov-cap,.m_cena-zach,.m_cena-std,.m_preim
{
	font-family: open-sans-n6, sans-serif;
}

.tov-cap,.cena-std,.cena-zach,.fact-dig
{
	font-family: ubuntu-n7, sans-serif;
}

.m_tov-pod,.m_tov-cena,.m_head2,.howwe
{
	font-family: open-sans-n4, sans-serif;
}

.head2,.preim,.we_txt,.tov-cena,.tov-pod,.otz-auth,.just-txt,.otz-txt-dol,.otz-citi,.dost-tx,.dost-cap,.usl_price,.spis-gorodo
{
	font-family: ubuntu-n4, sans-serif;
}

.menu
{
	font-family: open-sans-n3, sans-serif;
}

.form_btxt
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.usll_txt,.m_zagol,.m_we_txt,.zagol,.field_txt
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u19883.PamphletThumbSelected #u19884-4 p,#u22092.PamphletThumbSelected #u22093-4 p,#u21569.PamphletThumbSelected #u21570-4 p,#u22048.PamphletThumbSelected #u22049-4 p,#u19733.PamphletThumbSelected #u19734-4 p,#u21632.PamphletThumbSelected #u21633-4 p,#u21994.PamphletThumbSelected #u21995-4 p,#u19942.PamphletThumbSelected #u19943-4 p,#u21965.PamphletThumbSelected #u21966-4 p,#u21931.PamphletThumbSelected #u21932-4 p,#u19760.PamphletThumbSelected #u19761-4 p,#u20934.PamphletThumbSelected #u20935-4 p,#u19968.PamphletThumbSelected #u19969-4 p,#u21134.PamphletThumbSelected #u21135-4 p,#u19825.PamphletThumbSelected #u19826-4 p,#u20427.PamphletThumbSelected #u20428-4 p,#u21021.PamphletThumbSelected #u21022-4 p,#u21099.PamphletThumbSelected #u21100-4 p,#u20983.PamphletThumbSelected #u20984-4 p,#u22705.PamphletThumbSelected #u22706-4 p,#u21499.PamphletThumbSelected #u21500-4 p,#u22809.PamphletThumbSelected #u22810-4 p,#u19167.PamphletThumbSelected #u19168-4 p,#u20592.PamphletThumbSelected #u20593-4 p,#u22760.PamphletThumbSelected #u22761-4 p,#u19142.PamphletThumbSelected #u19143-4 p,#u21462.PamphletThumbSelected #u21463-4 p,#u20364.PamphletThumbSelected #u20365-4 p,#u19280.PamphletThumbSelected #u19281-4 p,#u22842.PamphletThumbSelected #u22843-4 p,#u19355.PamphletThumbSelected #u19356-4 p,#u20545.PamphletThumbSelected #u20546-4 p,#u19323.PamphletThumbSelected #u19324-4 p,#u20499.PamphletThumbSelected #u20500-4 p,#u20352.PamphletThumbSelected #u20353-4 p,#u19221.PamphletThumbSelected #u19222-4 p,#u22776.PamphletThumbSelected #u22777-4 p,#u21544.PamphletThumbSelected #u21545-4 p,#u22691.PamphletThumbSelected #u22692-4 p
{
	font-family: ubuntu-n5, sans-serif;
}

#u23586.PamphletThumbSelected #u23587-4 p,#u23578-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u23643-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u23579-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u23580-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u23587-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u23614-4
{
	font-family: open-sans-n4, sans-serif;
}

#u23605-4
{
	font-family: open-sans-n4, sans-serif;
}

#u23610-4
{
	font-family: open-sans-n4, sans-serif;
}

#u23644-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u23646-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u23647-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u23608.TabbedPanelsTabSelected #u23610-4 p,#u23612.TabbedPanelsTabSelected #u23614-4 p,#u23604.TabbedPanelsTabSelected #u23605-4 p,#u23616-4,#u344-4,#u348-6,#u4681-4,#u4683-4,#u366,#u363,#u347-4,#u23576-6
{
	font-family: ubuntu-n4, sans-serif;
}

#u21912-4.AccordionPanelTabOpen p,#u20905-4.AccordionPanelTabOpen p,#u19404-4.AccordionPanelTabOpen p,#u21163-4.AccordionPanelTabOpen p,#u22285-4.AccordionPanelTabOpen p,#u19093-4.AccordionPanelTabOpen p,#u20302-4.AccordionPanelTabOpen p,#u19093-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u19404-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u20302-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u21163-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u20905-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u21912-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u22285-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u17138-4,#u27167-4,#u27164-4,#u17173-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u9604-8,#u19242,#u19237,#u19333,#u19340,#u19368,#u19375,#u19266,#u19270,#u19130,#u19134,#u19184,#u19180,#u19833,#u19840,#u19982,#u19976,#u19772,#u19778,#u19928,#u19938,#u19719,#u19725,#u19873,#u19878,#u20437,#u20443,#u20582,#u20588,#u20385,#u20378,#u20530,#u20538,#u20346,#u20342,#u20488,#u20485,#u21444,#u21452,#u21494,#u21487,#u21540,#u21536,#u21588,#u21580,#u21641,#u21650,#u21041,#u21037,#u21003,#u20997,#u21087,#u21082,#u21125,#u21120,#u20952,#u20947,#u21941,#u21945,#u21980,#u21975,#u22005,#u22011,#u22046,#u22042,#u22087,#u22079,#u22685,#u22682,#u22791,#u22786,#u22724,#u22720,#u22824,#u22819,#u22744,#u22749,#u22852,#u22856,#u430-4,#u431-4,#u432-4,#u17182-4,#u433-4
{
	font-family: open-sans-n4, sans-serif;
}

#u23109-4,#u23110-4
{
	font-family: ubuntu-i3, sans-serif;
}

#u23540-4
{
	font-family: open-sans-n7, sans-serif;
}

#u27121-3,#u396-4,#u2361-4,#u438-4,#u454,#widgetu443.frm-sub-st #u444-4 p,#widgetu443.frm-subm-err-st #u446-4 p,#widgetu443.frm-subm-ok-st #u445-4 p,#u450,#u22880-5,#u22880-3 > li:before,#u22889-11 > li:before,#u23221-8,#u23441-4,#u23460-4,#u23451,#widgetu23447.frm-sub-st #u23454-4 p,#widgetu23447.frm-subm-err-st #u23455-4 p,#widgetu23447.frm-subm-ok-st #u23448-4 p,#u23458,#u23777-6,#u23813-4,#u23812-4,#u23816-4,#u23815-4,#u27139-3,#u9612-2,#u9612-9 > li:before,#u9612-28 > li:before
{
	font-family: ubuntu-n4, sans-serif;
}

