.but-txt
{
	font-family: ubuntu-n5, sans-serif;
}

.otz-txt
{
	font-family: ubuntu-i3, sans-serif;
}

.m_but-txt,.m_tov-cap,.m_cena-zach,.m_cena-std,.m_preim
{
	font-family: open-sans-n6, sans-serif;
}

.tov-cap,.cena-std,.cena-zach,.fact-dig
{
	font-family: ubuntu-n7, sans-serif;
}

.m_tov-pod,.m_tov-cena,.m_head2,.howwe
{
	font-family: open-sans-n4, sans-serif;
}

.head2,.preim,.we_txt,.tov-cena,.tov-pod,.otz-auth,.just-txt,.otz-txt-dol,.otz-citi,.dost-tx,.dost-cap,.usl_price,.spis-gorodo
{
	font-family: ubuntu-n4, sans-serif;
}

.menu
{
	font-family: open-sans-n3, sans-serif;
}

.form_btxt
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.usll_txt,.m_zagol,.m_we_txt,.zagol,.field_txt
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u17052-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17053-4,#u27088-4
{
	font-family: open-sans-n4, sans-serif;
}


